
.login-root {
    -fx-background-color: #1E293B;

}
.login-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}

.login-subtitle {
    -fx-text-fill: #94A3B8;
    -fx-font-family: "System";
    -fx-font-weight: normal;
    -fx-font-size: 13px;
}


.text-input {
    -fx-background-color: #0F172A;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #64748B;
    -fx-background-radius: 8;
    -fx-border-color: #334155;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-padding: 10 12 10 12; 
}

.text-input:focused {
    -fx-border-color: #2D7FF9;
    -fx-border-width: 1.5;
}


.login-btn {
    -fx-background-color: #2D7FF9;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 12 0 12 0;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #1E6BE6;
}

.login-link {
    -fx-text-fill: #2D7FF9;
    -fx-font-family: "System";
    -fx-font-size: 13px;
    -fx-underline: false;
    -fx-padding: 5 0 0 0;
}

.login-link:hover {
    -fx-text-fill: #1E6BE6;
    -fx-underline: true;
}
